version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-26-alpha
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/lacomida
    
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./cmds/ci/before_install.sh

      - run: ./cmds/ci/install_deps.sh

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./cmds/ci/install.sh

  test:
    docker:
      - image: circleci/android:api-26-alpha

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/lacomida

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./cmds/ci/before_install.sh

      - run: ./cmds/ci/before_script.sh

      - run: ./cmds/ci/run_test.sh